/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* BODY */

body{
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
line-height:1.6;
}

/* HEADER */

header{
background:#1e293b;
padding:50px 20px;
text-align:center;
}

header h1{
font-size:32px;
margin-bottom:10px;
}

header p{
font-size:16px;
opacity:0.9;
}

/* MENU */

nav{
display:flex;
justify-content:center;
gap:30px;
background:#020617;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.2s;
}

nav a:hover{
color:#38bdf8;
}

/* SEÇÕES */

section{
max-width:1000px;
margin:auto;
padding:60px 20px;
}

h2{
text-align:center;
color:#38bdf8;
margin-bottom:25px;
}

/* SOBRE */

#sobre p{
max-width:700px;
margin:auto;
text-align:center;
}

/* FORMAÇÃO */

#formacao{
text-align:center;
}

/* TECNOLOGIAS */

.skills-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
margin-top:20px;
}

.skill{
text-align:center;
}

.skill img{
width:40px;
height:40px;
transition:0.3s;
}

.skill img:hover{
transform:scale(1.15);
}

.skill p{
margin-top:6px;
font-size:14px;
}

/* PROJETOS */

.projetos-container{
display:flex;
flex-wrap:wrap;
gap:25px;
justify-content:center;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:260px;
box-shadow:0px 5px 15px rgba(0,0,0,0.4);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
color:#38bdf8;
margin-bottom:10px;
}

.card p{
font-size:14px;
margin:6px 0;
}

.card a{
display:inline-block;
margin-top:10px;
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}

/* GITHUB STATS */

.github-stats{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
margin-top:20px;
}

.github-stats img{
width:420px;
max-width:100%;
border-radius:10px;
}

/* CONTATO */

#contato{
text-align:center;
}

#contato a{
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}

/* BOTÃO VOLTAR AO TOPO */

#topoBtn{
position:fixed;
bottom:20px;
right:20px;
background:#38bdf8;
color:#020617;
border:none;
padding:12px 15px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
display:none;
}

#topoBtn:hover{
transform:scale(1.1);
}
#contato a{
margin:10px;
display:inline-block;
}

#contato img{
transition:0.3s;
}

#contato img:hover{
transform:scale(1.2);
}
