body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:50px;
background:#1e293b;
}

nav{
display:flex;
justify-content:center;
gap:30px;
background:#020617;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#38bdf8;
}

section{
max-width:900px;
margin:auto;
padding:40px;
}

h2{
color:#38bdf8;
}

/* ===== LISTAS ===== */

ul{
list-style:none;
padding:0;
}

ul li{
background:#1e293b;
padding:10px;
margin:10px 0;
border-radius:6px;
}

/* ===== PROJETOS ===== */

.projetos-container{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:250px;
transition:0.3s;
box-shadow:0px 5px 15px rgba(0,0,0,0.3);
}

.card:hover{
transform:translateY(-5px);
}

.card h3{
margin-top:0;
color:#38bdf8;
}

.card a{
display:inline-block;
margin-top:10px;
color:#38bdf8;
text-decoration:none;
font-weight:bold;
}

/* ===== TECNOLOGIAS ===== */

.skills-container{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
margin-top:20px;
}

.skill{
text-align:center;
}

.skill img{
width:40px;
height:40px;
transition:0.3s;
}

.skill img:hover{
transform:scale(1.2);
}

.skill p{
margin-top:8px;
font-size:14px;
}
